.header{
    @include boxNorm;  
    display: flex;
    background-color: #fff;
    width: 700px;
    max-width: 90%;
    margin: 0 auto;
    justify-content: space-between;  
    height: 50px;  
    &__logo{
        width: 25px;
        height: 25px;
    }
    &__title{
        font: {
            family: $font-stack;
            weight: 300;
            style: normal;
            size: 22px;   
            
        }
        color: $colorFont; 
    }
    &__wrap{
        display: flex;
        min-width: 320px;
        justify-content: space-between;
        align-items: center;
    }
    &__cart{        
        width: 59px;
        height: 25px;
    }
    &__cart-quantity{
        width: 14px;
        height: 14px;
        background-color: #FF1876;
        border: 1px solid #FF1876;
        border-radius: 37px;
        color: #fff;
        display: block;
        text-align: center;
        line-height: 1.7;
        position: relative; 
        margin-top: 6px;  
        font: {
            family: $font-stack;
            weight: 500;
            style: normal;
            size: 9px;                     
        }
        &::after{
            content: "";
            background: {
                image: url("../images/cart-full.svg");
                repeat: no-repeat;
                size: contain;
                position: center;
            }
            position: absolute;
            right: 8px;
            top: 5px;
            display: block;
            width: 59px;
            height: 25px;
        }
    }

}